@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background-color: gray;
  display: grid;
}

.input {
  display: flex;
  align-content: center;
}

p {
  font-family: "Roboto";
  align-items: center;
}